@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #EAC696;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #65451F;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

}

button:hover {
  filter: brightness(120%);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 0 0 10px 0px #7EAA92;
}

h1 {
  margin-bottom: 20vh;
  margin-top: 10vh;
  font-size: 3rem;
}

.start-container,
.quiz-container {
  text-align: center;
}

.item {
  background-color: #C8AE7D;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  max-width: 90%;
}

.item-question {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  color: rgb(44, 44, 44);
  margin-inline: 1rem;
}
.item-answers {
  margin: 3rem 0 1rem;
}

.item-answers .item-answer label {
  display: inline-block;
  text-align: left;
  width: 70%;
  margin-left: 1rem;
  margin-block: 0.5rem;
}

.quiz-container button {
  margin-block: 2rem;
}

.quiz-container .results {
  font-size: 1.5rem;
  margin-block: 2rem 0;
}
.quiz-container .results span {
  font-weight: bold;
}

.item-answer input[type="checkbox"]:checked + label {
  font-weight: bold;
}

.start-container .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 2rem;
}

.start-container .options select,
.start-container .options label {
  font-size: 2rem;
}
.start-container .options select {
  border-radius: 10px;
  padding: 3px 5px;
  cursor: pointer;
  text-align: center;
}